.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: var(--space-lg);
}

@media (max-width: 768px) {
  .container {
    padding-inline: var(--space-sm);
  }
}

@media (max-width: 600px) {
  .container {
    padding-inline: 16px;
  }
}

main {
  display: block;
  overflow-x: clip;
}
